h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
}
a{
    color: white;
}
body{
    background-image: url("images/big black.jpg");
}
div{
    text-align: center;
}
p{
    color: white;
}
h3{
    color: white;
    text-align: center;
}

